body {
    padding-top: 50px;
}


#introModal h2 {
    font-size:20px;
    font-weight:400;
    margin-top:5px;
}

#introModal {
    background-image: url('SplBack.jpg');
    /*background-size: 100% 100%;*/
    background-position: center;
    text-align: center;
    /*z-index: 10*/
}

#files {
    position: absolute;
    left:-5000px;
}

#zipinput_test {
      position: absolute;
    left:-5000px;
}
.modal-body p {
    padding:0px 35px;
}
.modal-footer {
    text-align: center;
}

.highcharts-legend-title {
    x: 225;
}

.loading-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.90);
  text-align: center;
  border-radius: 5px;
  padding: 40% 30%;
}

.file-upload-info {
    position: inherit;
    width:100%;
    padding:8px 80px 0px;
    font-style: italic;
    font-size:12px;
    line-height:14px;
    color:#848484;
}

.btn-primary {
  color: #fff;
  background-color: #5EC2BA;
  border-color: #fff;
}

.btn-primary:hover {
  color: #fff;
  /*background-color: #5EC2BA;*/
  border-color: #fff;
}

#changeFile {
    position: inherit;
    float: left;
}

#changeFile.btn-primary {
    border-color: #333;
}

#level1 {
    overflow: hidden;
    font-style: normal;
    font-size: 2.2vw;
    text-align: center;
    padding-top: 40px;
}

#level2 {
    overflow: hidden;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    text-align: center;
}

#level3 {
    overflow: hidden;
    font-style: normal;
    font-size: 0.9vw;
    text-align: center;
}

#prname {
    font-size: 1vw;
}

#statrow {
    overflow: hidden;
    font-size: 0.9vw;
    font-weight: lighter;
    text-align: left;
}

#statv {
    overflow: hidden;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    text-align: right;
}

#stattable {
  display:none;
  border-collapse: separate;
  border-spacing: 10px 0;
}

#header {
    position:absolute;
    top:100px;
    display:none;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.2vw;
    text-align: left;
}

#topcard {
    display:none;
    font-style: normal;
    font-weight: bold;
    font-size: 2.0vw;
    text-align: left;
    padding-bottom: 30px;
}

